<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Entry into the competition is free, with the only requirement being that your guacamole must use at least 4 avacados.
	For all others wishing to attend, Your only requirement is to fairly judge the Guacamoles presented (and if you brought beer, that would be nice too).

</p>