<div class="center hero-unit">
  <h1>
  	The First Annual <br> Indian Summer Guac-Off
  </h1>
  <h2>
		A party that will be showcasing the best Guacamoles that the city has to offer. The party going people of San Francisco will get to decide who has the best guacamole in the City. The winner to be crowned with the guacamole glory trophy, bragging rights until next indian summer, the title of official guacamole of San Francisco, and a secret mystery prize.
  </h2>
  <br>
	<br>
  <h3>
  	Rules
  </h3>
  <h4 id="instructions">
		<p>
		  Entry into the competition is free
		</p>
		<p>
  		Your guacamole must use at least 4 avacados.
		</p>
		<p>
			For all others wishing to attend, Your only requirement is to fairly judge the Guacamoles presented.
		</p>
  </h4>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>