<% provide(:title, @user.name) %>
<div class="row">
  <aside class="row">
    <section>
      <center>
      	I SHOULD ADD IMAGES OF GUACAMOLE AND FRIENDS AND MUSIC AND BEER AND GUACAMOLE HERE
      <center>
      <h5>
        <%= "We'll email you a friendly remider on Saturday morning #{@user.name}!" %>
      </h5>
    </section>
  </aside>
</div>