<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <center>
      	DRAW AN IMAGE FOR HERE AND CENTER
      <center>
      <h2>
        <%= "We'll email you a friendly remider on Saturday morning #{@user.name}!" %>
      </h2>
    </section>
  </aside>
</div>