<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <h2>
      <%= link_to "The First Annual Indian Summer Guac-Off", root_path, id: "logo" %>
    </h2>
    </div>
  </div>
</header>